{% macro links(posts) %}
    {% for post in posts %}
        <li>
            <a href="{{ post.link }}">{{ post.title }}</a>
            {% if post.sublinks %}
                <ul>
                    {{ _self.links(post.sublinks) }}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

{% macro main(menu, classes) %}
    <ul class="{{ classes|default("nav")}}">
    {% for item in menu.get_items %}
        <li class="nav-item {{item.classes | join(' ')}}" data-page="{{ item.title }}">
            <a class="nav-link" href="{{item.get_link}}">{{item.title}}</a>
            {% if item.get_children %}
                <ul class="nav nav-drop">
                {% for child in item.get_children %}
                    <li class="nav-drop-item">
                        <a class="nav-link" href="{{child.get_link}}">{{child.title}}</a>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endmacro %}
